[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
phy = "*"
numpy = "==1.23.1"
plotly = "==5.14.1"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
